:root {
  --primary-color: #8bc34a;
}

body {
  background-color: #f5f5f5;
}

.content-wrap {
}

.content {
  padding: 0 20px 60px 20px;
}

/* TITLE */
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-h4 {
  display: flex;
  align-items: center;
}

.title-icon {
  width: 16px;
  height: 16px;
  margin-right: 7px;
}

.title-text {
  font-weight: 500;
  font-size: 19px;
  margin-left: 20px;
}

.button-add {
  font-size: 11px;
}

.btn {
  height: 38px;
  width: 82px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

/* NAVBAR SEARCH */
.navbar-search {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 3px;
  height: 98px;
  padding: 20px;
}

.search-bar {
  display: flex;
  height: 40px;
  border-radius: 2px;
  align-items: center;
}

.search-icon {
  padding: 16px 16px;
  background-color: #f5f5f5;
}

.search-icon i {
  font-size: 13px;
  color: #999;
}

.search-input {
  height: 100%;
  outline: none;
  flex: 1;
  border: none;
  background-color: #f5f5f5;
  padding: 5px;
}

.search-button {
  color: #fff;
  border: none;
  border-radius: 0 3px 3px 0;
  padding: 5px 10px;
  height: 120%;
}

/* Table */
.panel {
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: var(--primary-color);
  color: #fff;
  height: 60px;
  padding: 8px;
}

td {
  background-color: #fff;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.col-icon {
  width: 38px;
  text-align: center;
}

/* Loading */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.loader {
  border: 8px solid #f3f3f3; /* màu viền */
  border-top: 8px solid #3498db; /* màu đỉnh */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* animation spin */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Modal thêm mới */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 20px;
}

.modal-close {
  background-color: transparent;
  border: none;
  color: #000;
  cursor: pointer;
}
